.prescriptionFormMiddle{
    width: 100%;
    padding: 40px 20px 0px 20px;
    label{
       font-weight: 500;
    }
    .textArea{
        display: flex;
        width:100%;
        justify-content: space-between;
    }
}
